In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
import webbrowser

In [3]:
websites = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'

In [4]:
webbrowser.open(websites)

True

In [7]:
nfl_frame = pd.read_clipboard()

In [8]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Green Bay Packers,"1,384",769,577,38,0.569,1921,NFC North
1,2,Dallas Cowboys,930,526,398,6,0.569,1960,NFC East
2,3,Baltimore Ravens,400,225,174,1,0.564,1996,AFC North
3,4,Chicago Bears,"1,418",777,599,42,0.563,1920,NFC North
4,5,New England Patriots,932,519,404,9,0.562,1960,AFC East

In [9]:
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL season',
       'Division'],
      dtype='object')

In [10]:
nfl_frame.Rank

0    1
1    2
2    3
3    4
4    5
Name: Rank, dtype: int64

In [11]:
nfl_frame.Team

0       Green Bay Packers
1          Dallas Cowboys
2        Baltimore Ravens
3           Chicago Bears
4    New England Patriots
Name: Team, dtype: object

In [13]:
nfl_frame['First NFL season']

0    1921
1    1960
2    1996
3    1920
4    1960
Name: First NFL season, dtype: int64

In [15]:
DataFrame(nfl_frame, columns=['Team', 'First NFL season', 'Division', 'Stadium'])

                   Team  First NFL season   Division  Stadium
0     Green Bay Packers              1921  NFC North      NaN
1        Dallas Cowboys              1960   NFC East      NaN
2      Baltimore Ravens              1996  AFC North      NaN
3         Chicago Bears              1920  NFC North      NaN
4  New England Patriots              1960   AFC East      NaN

In [16]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Green Bay Packers,"1,384",769,577,38,0.569,1921,NFC North
1,2,Dallas Cowboys,930,526,398,6,0.569,1960,NFC East
2,3,Baltimore Ravens,400,225,174,1,0.564,1996,AFC North
3,4,Chicago Bears,"1,418",777,599,42,0.563,1920,NFC North
4,5,New England Patriots,932,519,404,9,0.562,1960,AFC East

In [19]:
nfl_frame.tail(3)

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
2,3,Baltimore Ravens,400,225,174,1,0.564,1996,AFC North
3,4,Chicago Bears,"1,418",777,599,42,0.563,1920,NFC North
4,5,New England Patriots,932,519,404,9,0.562,1960,AFC East

In [24]:
nfl_frame['Stadium'] = "Levi's Stadium"

In [25]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium
0,1,Green Bay Packers,"1,384",769,577,38,0.569,1921,NFC North,Levi's Stadium
1,2,Dallas Cowboys,930,526,398,6,0.569,1960,NFC East,Levi's Stadium
2,3,Baltimore Ravens,400,225,174,1,0.564,1996,AFC North,Levi's Stadium
3,4,Chicago Bears,"1,418",777,599,42,0.563,1920,NFC North,Levi's Stadium
4,5,New England Patriots,932,519,404,9,0.562,1960,AFC East,Levi's Stadium

In [27]:
nfl_frame['Stadium'] = np.arange(5)

In [28]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium
0,1,Green Bay Packers,"1,384",769,577,38,0.569,1921,NFC North,0
1,2,Dallas Cowboys,930,526,398,6,0.569,1960,NFC East,1
2,3,Baltimore Ravens,400,225,174,1,0.564,1996,AFC North,2
3,4,Chicago Bears,"1,418",777,599,42,0.563,1920,NFC North,3
4,5,New England Patriots,932,519,404,9,0.562,1960,AFC East,4

In [29]:
stadiums = Series(['Levi\'s Stadium', 'AT&T Stadium'], index = [4, 0])

In [30]:
stadiums

4    Levi's Stadium
0      AT&T Stadium
dtype: object

In [31]:
nfl_frame['Stadium'] = stadiums

In [32]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium
0,1,Green Bay Packers,"1,384",769,577,38,0.569,1921,NFC North,AT&T Stadium
1,2,Dallas Cowboys,930,526,398,6,0.569,1960,NFC East,NaN
2,3,Baltimore Ravens,400,225,174,1,0.564,1996,AFC North,NaN
3,4,Chicago Bears,"1,418",777,599,42,0.563,1920,NFC North,NaN
4,5,New England Patriots,932,519,404,9,0.562,1960,AFC East,Levi's Stadium

In [33]:
del nfl_frame['Stadium']

In [34]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Green Bay Packers,"1,384",769,577,38,0.569,1921,NFC North
1,2,Dallas Cowboys,930,526,398,6,0.569,1960,NFC East
2,3,Baltimore Ravens,400,225,174,1,0.564,1996,AFC North
3,4,Chicago Bears,"1,418",777,599,42,0.563,1920,NFC North
4,5,New England Patriots,932,519,404,9,0.562,1960,AFC East

In [35]:
data = {'City':['SF', 'LA', 'NYC'], 'Population':[8370000,3877700, 8400000]}

In [36]:
city_frame = DataFrame(data)

In [37]:
city_frame

  City  Population
0   SF     8370000
1   LA     3877700
2  NYC     8400000